.mockup{
	position: absolute;
	right: 5px;
	width: 50%; 
}

.slides{
	position: absolute;
	left: 5px;
	width: 50%;
}

body{
	background-color: #FF6666;
}

.rubik-wet-paint-regular {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.title {
	font-family: font-family: "Rubik Wet Paint", system-ui;
}

.desc{
	border: 3px solid #32CD32;
	background-color: #FFD700;
	margin: 15px;
	padding: 10px;
	text-transform: capitalize;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner{
	background-color: #FFD700;
	margin: 15px;
	padding: 10px;
	border: 3px solid #32CD32;
	text-transform: capitalize;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 120px;
}

h3{
	color: #FF6666;
}

.ppl{
 	 margin: 10px;
 	 padding: 10px;
 	 overflow: hidden;
 	 position: absolute;
 	 right: 5em;
 	 top: 20px;
 	 font-size: 1em;
 	 text-align: center;
 	 z-index: 1;
}
.ppl a{
 	 background-color: #FFD700;
 	 display: none;
  	 color: #32CD32;
  	 padding: 2px;
 	 font-size: 1em;
}
.ppl:hover a{
 	 display: block;
}
.ppl a:hover{
 	 color: #FFD700;
 	 background-color: #32CD32;
}
